.demo_1,.demo_2,.demo_3{
	text-align: center;
	font-size:16px;
	.content{
		margin-top: 65px;
	}
	.container{
		background:#272727;
		color:white;
		padding-bottom:85px;
		position:relative;
	}
	.demo-logo{
		display:block;
		margin:0 auto;
		margin-top: 90px;
	}
	.demo-title1{
		color:#9e9e9e;
		margin-top:40px;
	}
	.demo-title2{
		color:#e1b55a;
		font-size:30px;
		line-height: 30px;
		margin-bottom:90px;
	}
	.color-custom-10.demo-title2{
		color:#4f57a0;
		margin-top:8px;
	}
	.demo-title3{
		color:white;
		margin-top:45px;
		line-height: 30px;
	}
	.video-youtube{
		position:relative;
		img{
			width:100%;
		}
		.fancybox-video{
			position:absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    transform:translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -o-transform: translateY(-50%);
		    -ms-transform:translateY(-50%);
		}
		a{
			width:60px;
			height:60px;
			border-radius:50%;
			border:1px solid white;
			display:block;
			img{
			    width: 22px;
			    height: 26px;
			    margin: 0 auto;
			    display: block;
			    margin-top: 50%;
			    transform: translateX(5px) translateY(-51%);
			    -webkit-transform: translateX(5px) translateY(-51%);
			    -moz-transform: translateX(5px) translateY(-51%);
			    -o-transform: translateX(5px) translateY(-51%);
			    -ms-transform: translateX(5px) translateY(-51%);
			}
		}
	}
}

.demo_1{
	background:#272727;
	.container{
		@media(min-width:992px){
			border-style:solid;
			border-width:0px 30px;
			border-color:white;
		}
	}
	.template-header{
		padding-bottom:50px;
	}
}
.demo_1.bg-none{
	background-color:#fff;
	.container{
		background-color:#fff;
	}
}
.demo_2{
	color:white;
	.content{
		margin-top:0px;
	}
	.video-youtube{
		height:100%;
		img{
			height:100%;
		}
	}
	.col-left{
		@media(min-width:1200px){
			min-height: 470px;
		}
	}
	.col-right{
		text-align: left;
		background:#2f2f2f;
		position:relative;
		height:100%;
		@media(max-width:1199px){
			text-align: center;
			padding-top:20px;
			padding-left:15px;
			padding-right:15px;
		}
		.content{
			@media(min-width:1200px){
				position:absolute;
				top:50%;
				left:80px;
				transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
			}
		}
		.demo-description-1{
			font-family: 'Raleway-Regular';
			font-size:36px;
			max-width:610px;
			@media(max-width:1199px){
				margin:0 auto;
			    font-size: 29px;
			}
			span{
				color:#e1b55a;
			}
		}
		.demo-description-2{
			 font-family: 'SourceSansPro-Regular';
			 font-size:18px;
			 line-height: 36px;
			 max-width:610px;
			 margin-top:20px;
			 @media(max-width:1199px){
				margin-left:auto;
				margin-right:auto;
			}
		}
		.download-app{
			margin-top:80px;
			@media(max-width:1599px){
				text-align: center;
				margin-left:0;
				margin-right:0;
			}
			@media(max-width:1199px){
				margin-top:20px;
				padding-bottom:20px;
			}
			a{
				display: inline-block;
				padding:0 10px;
				@media(max-width:1599px) and (min-width:1200px){
					padding:0 1px;
				}
				@media(max-width:1199px){
					margin-top:10px;
				}
				img{
					width:100%;
					height:100%;
				}
				&:nth-child(1){
					width:220px;
					height:70px;
				}
				&:nth-child(2){
					width:240px;
					height:70px;
					@media(max-width:767px){
						width:220px;
					}
				}
				&:nth-child(3){
					width:220px;
					height:70px;
				}
			}
		}
	}
}
.demo_3{
	.video-youtube{
		width:100%;
		>img{
			height:100%;
			display: block;
			
			@media(max-width: 767px){
				min-height: 340px;
			}
			@media(min-width: 768px){
				min-height: 450px;
			}
		}
		.fancybox-video{
			position:initial;
		}
		.demo-content{
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-o-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			left:0;
			right:0;
			margin:0 auto;
			color:white;
		}
	}
	.demo-watch{
		 font-family: 'SourceSansPro-Bold';
		 font-size:24px;
	}
	.demo-text{
		font-family: 'SourceSansPro-Regular';
		font-size:16px;
		padding:0 20px;
	}
   
}