.padding-top90 {
  padding-top: 90px; }
  @media (max-width: 991px) {
    .padding-top90 {
      padding-top: 50px; } }

.subscribe_1,
.subscribe_2,
.subscribe_3,
.subscribe_4,
.subscribe_5 {
  text-align: center;
  padding-bottom: 90px; }
  .subscribe_1 input, .subscribe_1 textarea, .subscribe_1 button,
  .subscribe_2 input,
  .subscribe_2 textarea,
  .subscribe_2 button,
  .subscribe_3 input,
  .subscribe_3 textarea,
  .subscribe_3 button,
  .subscribe_4 input,
  .subscribe_4 textarea,
  .subscribe_4 button,
  .subscribe_5 input,
  .subscribe_5 textarea,
  .subscribe_5 button {
    border-radius: 0; }
  .subscribe_1 .subscribe-header,
  .subscribe_2 .subscribe-header,
  .subscribe_3 .subscribe-header,
  .subscribe_4 .subscribe-header,
  .subscribe_5 .subscribe-header {
    max-width: 875px;
    margin: 0 auto; }
    .subscribe_1 .subscribe-header .subscribe-title-1,
    .subscribe_2 .subscribe-header .subscribe-title-1,
    .subscribe_3 .subscribe-header .subscribe-title-1,
    .subscribe_4 .subscribe-header .subscribe-title-1,
    .subscribe_5 .subscribe-header .subscribe-title-1 {
      font-family: 'Raleway-Regular';
      font-size: 24px;
      color: #e5be6e;
      margin-bottom: 0; }
    .subscribe_1 .subscribe-header .subscribe-title-2,
    .subscribe_2 .subscribe-header .subscribe-title-2,
    .subscribe_3 .subscribe-header .subscribe-title-2,
    .subscribe_4 .subscribe-header .subscribe-title-2,
    .subscribe_5 .subscribe-header .subscribe-title-2 {
      font-family: 'SourceSansPro-Regular';
      font-size: 16px;
      color: white;
      line-height: 25px;
      margin-top: 15px; }
  .subscribe_1 .button-type-1, .subscribe_1 .button-type-2,
  .subscribe_2 .button-type-1,
  .subscribe_2 .button-type-2,
  .subscribe_3 .button-type-1,
  .subscribe_3 .button-type-2,
  .subscribe_4 .button-type-1,
  .subscribe_4 .button-type-2,
  .subscribe_5 .button-type-1,
  .subscribe_5 .button-type-2 {
    color: white;
    background: #e5be6e;
    height: 50px;
    font-family: 'SourceSansPro-Bold';
    font-size: 16px;
    border-style: none;
    width: 100%;
    outline: none; }
  .subscribe_1 .button-type-2,
  .subscribe_2 .button-type-2,
  .subscribe_3 .button-type-2,
  .subscribe_4 .button-type-2,
  .subscribe_5 .button-type-2 {
    color: #303030;
    background: #fff; }
  .subscribe_1 .input-type-1, .subscribe_1 .input-type-2,
  .subscribe_2 .input-type-1,
  .subscribe_2 .input-type-2,
  .subscribe_3 .input-type-1,
  .subscribe_3 .input-type-2,
  .subscribe_4 .input-type-1,
  .subscribe_4 .input-type-2,
  .subscribe_5 .input-type-1,
  .subscribe_5 .input-type-2 {
    height: 50px;
    width: 100%;
    border: 1px solid white;
    background: transparent;
    outline: none;
    padding-left: 20px;
    color: white;
    font-family: 'SourceSansPro-Regular';
    font-size: 16px; }
    .subscribe_1 .input-type-1:-ms-input-placeholder, .subscribe_1 .input-type-2:-ms-input-placeholder,
    .subscribe_2 .input-type-1:-ms-input-placeholder,
    .subscribe_2 .input-type-2:-ms-input-placeholder,
    .subscribe_3 .input-type-1:-ms-input-placeholder,
    .subscribe_3 .input-type-2:-ms-input-placeholder,
    .subscribe_4 .input-type-1:-ms-input-placeholder,
    .subscribe_4 .input-type-2:-ms-input-placeholder,
    .subscribe_5 .input-type-1:-ms-input-placeholder,
    .subscribe_5 .input-type-2:-ms-input-placeholder {
      color: white; }
    .subscribe_1 .input-type-1::-moz-placeholder, .subscribe_1 .input-type-2::-moz-placeholder,
    .subscribe_2 .input-type-1::-moz-placeholder,
    .subscribe_2 .input-type-2::-moz-placeholder,
    .subscribe_3 .input-type-1::-moz-placeholder,
    .subscribe_3 .input-type-2::-moz-placeholder,
    .subscribe_4 .input-type-1::-moz-placeholder,
    .subscribe_4 .input-type-2::-moz-placeholder,
    .subscribe_5 .input-type-1::-moz-placeholder,
    .subscribe_5 .input-type-2::-moz-placeholder {
      color: white; }
    .subscribe_1 .input-type-1:-moz-placeholder, .subscribe_1 .input-type-2:-moz-placeholder,
    .subscribe_2 .input-type-1:-moz-placeholder,
    .subscribe_2 .input-type-2:-moz-placeholder,
    .subscribe_3 .input-type-1:-moz-placeholder,
    .subscribe_3 .input-type-2:-moz-placeholder,
    .subscribe_4 .input-type-1:-moz-placeholder,
    .subscribe_4 .input-type-2:-moz-placeholder,
    .subscribe_5 .input-type-1:-moz-placeholder,
    .subscribe_5 .input-type-2:-moz-placeholder {
      color: white; }
    .subscribe_1 .input-type-1::-webkit-input-placeholder, .subscribe_1 .input-type-2::-webkit-input-placeholder,
    .subscribe_2 .input-type-1::-webkit-input-placeholder,
    .subscribe_2 .input-type-2::-webkit-input-placeholder,
    .subscribe_3 .input-type-1::-webkit-input-placeholder,
    .subscribe_3 .input-type-2::-webkit-input-placeholder,
    .subscribe_4 .input-type-1::-webkit-input-placeholder,
    .subscribe_4 .input-type-2::-webkit-input-placeholder,
    .subscribe_5 .input-type-1::-webkit-input-placeholder,
    .subscribe_5 .input-type-2::-webkit-input-placeholder {
      color: white; }
  .subscribe_1 .input-type-2,
  .subscribe_2 .input-type-2,
  .subscribe_3 .input-type-2,
  .subscribe_4 .input-type-2,
  .subscribe_5 .input-type-2 {
    color: #7c7979;
    background: white;
    border-style: none; }
    .subscribe_1 .input-type-2:-ms-input-placeholder,
    .subscribe_2 .input-type-2:-ms-input-placeholder,
    .subscribe_3 .input-type-2:-ms-input-placeholder,
    .subscribe_4 .input-type-2:-ms-input-placeholder,
    .subscribe_5 .input-type-2:-ms-input-placeholder {
      color: #7c7979; }
    .subscribe_1 .input-type-2::-moz-placeholder,
    .subscribe_2 .input-type-2::-moz-placeholder,
    .subscribe_3 .input-type-2::-moz-placeholder,
    .subscribe_4 .input-type-2::-moz-placeholder,
    .subscribe_5 .input-type-2::-moz-placeholder {
      color: #7c7979; }
    .subscribe_1 .input-type-2:-moz-placeholder,
    .subscribe_2 .input-type-2:-moz-placeholder,
    .subscribe_3 .input-type-2:-moz-placeholder,
    .subscribe_4 .input-type-2:-moz-placeholder,
    .subscribe_5 .input-type-2:-moz-placeholder {
      color: #7c7979; }
    .subscribe_1 .input-type-2::-webkit-input-placeholder,
    .subscribe_2 .input-type-2::-webkit-input-placeholder,
    .subscribe_3 .input-type-2::-webkit-input-placeholder,
    .subscribe_4 .input-type-2::-webkit-input-placeholder,
    .subscribe_5 .input-type-2::-webkit-input-placeholder {
      color: #7c7979; }

.subscribe_1 {
  background: url(../../images/blocks/subscribe/subscribe1.png) no-repeat;
  background-size: cover; }
  .subscribe_1 .subscribe-input {
    float: left; }
    @media (min-width: 992px) {
      .subscribe_1 .subscribe-input {
        width: 470px; } }
  .subscribe_1 .subscribe-button {
    width: 70px;
    float: left;
    margin-left: 30px; }
    .subscribe_1 .subscribe-button .button-type-1, .subscribe_1 .subscribe-button .button-type-2 {
      font-size: 23px; }
  .subscribe_1 .subscribe-content {
    text-align: center;
    display: inline-block;
    margin-top: 25px; }

.subscribe_2 {
  background: url(../../images/blocks/subscribe/subscribe1.png) no-repeat;
  background-size: cover; }
  .subscribe_2 .subscribe-content {
    margin-top: 10px; }
    .subscribe_2 .subscribe-content input, .subscribe_2 .subscribe-content button {
      margin-top: 15px; }
  .subscribe_2 .button-type-2 .fa {
    margin-right: 15px; }

.subscribe_3,
.subscribe_4,
.subscribe_5 {
  background: url(../../images/blocks/subscribe/subscribe2.png) no-repeat;
  background-size: cover; }

.subscribe_3 .subscribe-content {
  margin-top: 30px; }
  .subscribe_3 .subscribe-content button, .subscribe_3 .subscribe-content input {
    margin-top: 15px; }
  .subscribe_3 .subscribe-content .row {
    margin-left: 0;
    margin-right: 0; }
  .subscribe_3 .subscribe-content [class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

.subscribe_4 .subscribe-content {
  margin-top: 25px; }
  .subscribe_4 .subscribe-content button, .subscribe_4 .subscribe-content input {
    margin-top: 15px; }

.subscribe_5 .subscribe-content {
  margin-top: 15px; }
  .subscribe_5 .subscribe-content button, .subscribe_5 .subscribe-content input {
    margin-top: 15px; }
