.padding0 {
  padding-left: 0;
  padding-right: 0; }

.padding-top90 {
  padding-top: 90px; }
  @media (max-width: 991px) {
    .padding-top90 {
      padding-top: 50px; } }

.team_1, .team_2, .team_3 {
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  width: 100%;
  color: #303030; }
  .team_1 .template-header, .team_2 .template-header, .team_3 .template-header {
    text-align: center;
    line-height: 1; }
    .team_1 .template-header-logo, .team_2 .template-header-logo, .team_3 .template-header-logo {
      width: 60px;
      height: 60px;
      margin: 0 auto; }
      .team_1 .template-header-logo img, .team_2 .template-header-logo img, .team_3 .template-header-logo img {
        width: 100%; }
    .team_1 .template-header-title, .team_2 .template-header-title, .team_3 .template-header-title {
      font-family: 'SourceSansPro-Regular';
      font-size: 16px;
      color: #9e9e9e;
      margin-top: 35px; }
    .team_1 .template-header-style, .team_2 .template-header-style, .team_3 .template-header-style {
      font-family: 'Raleway-Regular';
      font-size: 30px;
      color: #e1b55a;
      margin-top: 15px; }
  .team_1 .logo, .team_2 .logo, .team_3 .logo {
    margin: 0 auto; }
  .team_1 .option-title, .team_2 .option-title, .team_3 .option-title {
    color: #9e9e9e;
    display: block;
    margin-top: 35px;
    margin-bottom: 6px; }
  .team_1 .option-name, .team_2 .option-name, .team_3 .option-name {
    font-family: Raleway;
    font-size: 30px;
    color: #e1b55a;
    font-family: "Raleway-Regular"; }
  .team_1 .option-name.color-custom-10, .team_2 .option-name.color-custom-10, .team_3 .option-name.color-custom-10 {
    color: #4f57a0; }
  .team_1 .social-item, .team_2 .social-item, .team_3 .social-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 6px 2px 0; }
    @media (max-width: 767px) {
      .team_1 .social-item, .team_2 .social-item, .team_3 .social-item {
        margin: 6px 1px 0; } }
  .team_1 .slide-center, .team_2 .slide-center, .team_3 .slide-center {
    opacity: 1;
    background-color: #fff; }

.team_1 .team-wrap, .team_2 .team-wrap {
  padding-left: 15px;
  padding-right: 15px; }
.team_1 .img-slide, .team_2 .img-slide {
  position: relative; }
  .team_1 .img-slide .team-link1, .team_2 .img-slide .team-link1 {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 2; }
  .team_1 .img-slide img, .team_2 .img-slide img {
    width: 100%; }
.team_1 .slide, .team_2 .slide {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  border: 1px solid #efefef;
  border-radius: 2px;
  overflow: hidden;
  background-clip: padding-box;
  margin-bottom: 35px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }
  .team_1 .slide:hover, .team_2 .slide:hover {
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1); }
  .team_1 .slide .slide-text, .team_2 .slide .slide-text {
    padding: 20px 0 40px 85px;
    position: relative; }
    .team_1 .slide .slide-text > p, .team_2 .slide .slide-text > p {
      font-size: 24px;
      margin: 0; }
    .team_1 .slide .slide-text span:nth-child(2), .team_2 .slide .slide-text span:nth-child(2) {
      display: block;
      color: #e1b55a;
      margin-bottom: 15px; }
    .team_1 .slide .slide-text .team-link2, .team_2 .slide .slide-text .team-link2 {
      position: absolute;
      top: -40px;
      left: 15px;
      z-index: 1; }
.team_1 .owl-carousel .owl-wrapper-outer, .team_2 .owl-carousel .owl-wrapper-outer {
  padding-bottom: 50px; }

.team_1 {
  padding-bottom: 50px; }
  .team_1 .carousel {
    margin-top: 55px; }
  .team_1 .pos {
    position: relative;
    padding-right: 0; }
  .team_1 .slide {
    width: 320px;
    height: 530px;
    margin: 0 auto; }
  .team_1 .info-text {
    line-height: 31px; }
    .team_1 .info-text > span {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      font-family: "SourceSansPro-Bold"; }
  .team_1 .social-group {
    display: block;
    margin: 20px auto; }
    .team_1 .social-group img {
      width: 100%; }
  .team_1 .owl-theme .owl-controls .owl-page span {
    background-color: #dddddd;
    height: 2px;
    width: 30px; }
  .team_1 .owl-theme .owl-controls .owl-page.active span {
    background-color: #d4ab46;
    height: 5px; }
  .team_1 .owl-theme .owl-controls .owl-page {
    text-align: center; }

@media (min-width: 1025px) {
  .info-text {
    padding: 240px 0px 0; } }
@media (max-width: 1024px) {
  .info-text {
    padding: 30px 15px; } }
.team_2 .template-header {
  padding-bottom: 70px; }
@media (max-width: 768px) {
  .team_2 .carousel-prev .fa,
  .team_2 .carousel-next .fa {
    top: inherit;
    bottom: -15%; } }
@media (max-width: 1199px) {
  .team_2 .carousel-next .fa {
    display: none; } }
@media (max-width: 1199px) {
  .team_2 .carousel-prev .fa {
    display: none; } }

@media (max-width: 767px) {
  .team_3 .carousel-next .fa {
    right: 0; } }
@media (max-width: 767px) {
  .team_3 .carousel-prev .fa {
    left: 0; } }

.team_2 .carousel-prev .fa,
.team_2 .carousel-next .fa, .team_3 .carousel-prev .fa,
.team_3 .carousel-next .fa {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: absolute;
  padding-top: 2px;
  width: 42px;
  height: 42px;
  border: solid 2px #d1d1d1;
  font-size: 32px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  color: #d1d1d1;
  z-index: 9;
  cursor: pointer; }
.team_2 .carousel-next .fa, .team_3 .carousel-next .fa {
  right: -80px;
  padding-left: 2px;
  overflow: hidden; }
.team_2 .carousel-prev .fa, .team_3 .carousel-prev .fa {
  left: -80px;
  padding-right: 2px; }

.team_2 {
  background: url("../../images/blocks/team/team-bg2.png") center no-repeat;
  background-size: cover; }
  .team_2 .owl-wrapper-outer {
    padding-bottom: 5px; }
  .team_2 .slide {
    padding: 0; }
  .team_2 .rowcarousel {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 80px; }
  .team_2 .social-group {
    display: block;
    margin-top: 22px; }
  .team_2 .owl-theme .owl-controls .owl-page span {
    width: 25px;
    height: 2px;
    border-radius: 0; }
  .team_2 .owl-theme .owl-controls .owl-page.active span {
    height: 4px;
    border-radius: 5px;
    background-color: #d4ab46; }

@media (max-width: 1120px) {
  .rowcarousel {
    position: relative; }
    .rowcarousel .slide {
      margin: 0 auto; } }
