#sample-interface-video {
    .container {
        .row {
            .reponsive {
                @media (max-width: 1024px) {
                    width: 30%;
                }

                @media (max-width: 991px) {
                    width: 24%;
                }

                @media (max-width: 480px) {
                    width: 7%;
                }

                @media (max-width: 320px) {
                    width: 0%;
                }
            }

            .reponsive-fix {
                @media (max-width: 1024px) {
                    width: 40%;
                }

                @media (max-width: 991px) {
                    width: 52%;
                    margin: 0 auto;
                }

                @media (max-width: 480px) {
                    width: 86%;
                }

                @media (max-width: 320px) {
                    width: 100%;
                }

                .content {
                    background: #fafafa;
                    border: 1px solid rgb(204, 204, 204);
                    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
                    background-clip: padding-box;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    video {
                        width: 100%;
                    }

                    .btn-default {
                        width: 100%;
                        border-radius: 0;
                        border-left: 0;
                        border-right: 0;
                        border-bottom: 0;
                        color: #428bca;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
