.text-logo .text-logo-item{
	font-family:FjallaOne;
}
.slide-text .run-text{
	font-family:FjallaOne;
}
.pull-right{
	font-family:FjallaOne;
}
.side-menu.active{
	font-family:FjallaOne;
}
.title{
	font-family:FjallaOne;
}
